<html>
<head>
   <title>Sample Page</title>
   <link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
   <div class="original">
      <div class="centered">
         <div class="blue">
           G
         </div>
         <div class="red">
           o
         </div>
         <div class="yellow">
           o
         </div>
         <div class="blue">
           g
         </div>
         <div class="green">
           l
         </div>
         <div class="red">
           e
         </div>
         <h2>
           colour picker
         </h2>
      </div>
   </div>
   <div class="blue_rollover">
      <p></p>
      <div class="p_blue">
         blue is <%=#3369E8%>
      </div>
   </div>
   <div class="red_rollover">
      <p></p>
      <div class="p_red">
         red is #D50F25
      </div>
   </div>
   <div class="yellow_rollover">
      <p></p>
      <div class="p_yellow">
         yellow is #EEB211
      </div>
   </div>
   <div class="green_rollover">
      <p></p>
      <div class="p_green">
         green is #009925
      </div>
   </div>
</body>
</html>